.ContactPage {
  padding-top: 150px;
  padding-bottom: 60px;

  &-formSection .container {
    display: flex;
    gap: 50px;

    input,
    textarea {
      background: none;
      border: 1px solid var(--border-color);
      border-radius: 5px;

      &:hover,
      &:focus {
        background: none !important;
        border: 1px solid var(--border-color) !important;
      }
    }
  }

  &-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &-content,
  &-form {
    width: 50%;
  }

  &-heading {
    color: var(--color-gold);
  }

  &-title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 42px;
  }

  &-title,
  &-text {
    margin-bottom: 25px;
  }

  &-text {
    color: var(--color-medium);
  }

  &-cards {
    margin-top: 80px;

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
  }

  &-card {
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 10px 40px 0px rgba(78, 76, 76, 0.1);
    border: 1px solid var(--border-color);
    min-width: 350px;

    span {
      font-size: 24px;
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-mail span {
      color: red;
      background-color: rgba(228, 16, 16, 0.06);
    }

    &-phone span {
      color: #0d6efd;
      background-color: rgba(13, 110, 253, 0.06);
    }
  }
}

@media (max-width: 1050px) {
  .ContactPage {
    &-formSection .container {
      flex-direction: column-reverse;
    }

    &-content,
    &-form {
      width: 100%;
    }

    &-title {
      font-size: 34px;
    }

    &-text {
      font-size: 14px;
    }
  }
}

@media (max-width: 750px) {
  .ContactPage {
    &-cards .container {
      flex-direction: column;
    }

    &-card {
      width: 100%;
    }

    &-inputs {
      flex-direction: column;
      gap: 0;
    }
  }
}
