.Footer {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/footer-bg-2.webp") center/cover no-repeat;

  a {
    color: var(--color-white);
    &:hover {
      color: var(--color-gold);
    }
  }

  .title {
    font-family: var(--font-heading);
  }
}
@media (max-width: 1050px) {
  .Footer {
    height: auto;
    .footer-items {
      flex-direction: column;
      gap: 40px;
    }

    .footer-item {
      align-items: center;
      text-align: center;
    }
    .footer-gap {
      gap: 20px;
    }
  }
}
