.AboutUsSection {
  .title {
    font-size: 42px;
    font-family: var(--font-heading);
    font-weight: 700;
    margin-bottom: 20px;
  }

  .desc {
    color: var(--color-medium);
    font-weight: 400;
  }
}
