.SolutionCards {
  .icon {
    background-color: var(--e-global-color-secondary);
    transition: all 0.3s;

    svg {
      transition: all 0.3s;
    }
  }

  .desc {
    color: var(--e-global-color-text);
  }

  .title,
  .title span {
    font-size: 42px;
    font-family: var(--font-heading);
    font-weight: 700;
  }

  .title span {
    color: var(--color-gold);
  }

  .card {
    background-color: var(--color-white);
    padding: 25px;
    min-height: 350px;
    max-width: 360px;
    border-radius: 12px;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.155);
    border: 1px solid var(--color-white);
    transition: all 0.3s ease;

    &-title {
      font-size: 32px;
      font-weight: 700;
      font-family: var(--font-heading);
    }

    &-desc {
      font-size: 16px;
      font-weight: 400;
      color: var(--e-global-color-text);
      line-height: 1.8;
    }

    &:hover {
      background-color: #fff;
      padding: 25px;
      box-shadow: 0 0.75rem 4rem rgba(0, 0, 0, 0.2);
      transform: translateY(-6px);
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid var(--color-gold);

      .icon {
        background-color: var(--e-global-color-primary);
        svg {
          fill: var(--e-global-color-secondary) !important;
          stroke: var(--e-global-color-secondary) !important;
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .SolutionCards {
    .cards {
      flex-direction: column;
      gap: 50px;
    }

    .card {
      max-width: 60%;
      min-height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 850px) {
  .SolutionCards {
    .card {
      max-width: 80%;
    }
  }
}
@media (max-width: 650px) {
  .SolutionCards {
    .card {
      max-width: 95%;
    }
  }
}
