#preLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;

  .loader {
    .road {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      perspective: 10px;
      overflow: hidden;
      z-index: 1;
    }

    .line {
      height: 100px;
      width: 3px;
      margin-inline: 10px;
      background: #4f4f4f;
      transform: rotateX(10deg);

      &.center-line {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 3px;
          height: 100%;
          background: #fff;
          background-size: 100% 10px;
          animation: road 120ms linear infinite;
        }
      }
    }

    .icon {
      position: absolute;
      color: var(--color-gold);
      font-size: 30px;
      z-index: 1;
      animation: car 2s infinite linear reverse;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        display: block;
        width: 30px;
        height: 30px;
        fill: var(--color-gold);
      }
    }
  }
}

@keyframes car {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10%);
  }
  75% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes road {
  100% {
    background: linear-gradient(to bottom, gray 50%, gray, #fff, #fff 50%);
    background-size: 100% 10px;
  }
}
